<% if resource.errors.any? %>
  <div class="error_explanation h3 alert-danger">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li class="list-unstyled"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
