<div class="followings_count d-inline-block mr-2">
  <span>フォロー数:</span>
  <%= link_to followings_user_relationships_path(user) , class: 'text-decoration-none' do %>
    <span><%= user.followings.count %></span>
  <% end %>
</div>
<div class="followers_count d-inline-block">
  <span>フォロワー数:</span>
    <%= link_to followers_user_relationships_path(user) , class: 'text-decoration-none' do %>
      <span><%= user.followers.count %></span>
  <% end %>
</div>