<div class="container px-5 mt-5 mb-5">
  <div class="row h1 justify-content-center">
    フォロワー一覧
  </div>
<% if @users.count == 0 %>
  フォロワーはいません。
<% else %>
  <% @users.each do |user| %>
  <div class="row user_index border m-5">
    <%= render 'users/index' , user: user %>
  </div>
  <% end %>
<% end %>
</div>