<div class="container px-5 mt-5 mb-5">
  <div class="row h1 justify-content-center">
    いいね一覧
  </div>
<% @favorite_posts.each do |favorite_posts| %>
  <div class="row user_index border mt-5">
    <%= render 'users/index' , user: favorite_posts.user %>
  </div>
  <div class="row post_index border mb-5">
    <%= render 'posts/index' , post: favorite_posts %>
  </div>
<% end %>