<div class="container px-5 mt-5 mb-5">
  <div class="row h1 justify-content-center">
    タグ名:"<%= @tag.name %>"
  </div>
  <% @post.each do |post| %>
  <div class="row user_index border shadow-lg mt-5">
    <%= render 'users/index' , user: post.user %>
  </div>
  <div class="row post_index border shadow-lg mb-5">
    <%= render 'posts/index' , post: post %>
  </div>
  <% end %>
</div>