<div class="container px-5">
    <% if @posts.count == 0 %>
        <div class="row-12 h1 text-center mt-5">
            投稿がありません。
        </div>
    <% else %>
      <div class="row h1 justify-content-center mt-5 mb-5">
        全キャンパーの投稿一覧
      </div>
        <% @posts.each do |post| %>
            <div class="shadow-lg m-5">
                <div class="row user_index border">
                    <%= render 'users/index' , user: post.user %>
                </div>
                <div class="row post_index border">
                    <%= render 'posts/index' , post: post %>
                </div>
            </div>
        <% end %>
    <% end %>
    <div class="paginate d-flex justify-content-center">
    <%= paginate @posts %>
    </div>
</div>
