<div class="container">
    <div class="row px-5">
        <div class="posts">
            <% @posts.each do |post| %>
                <%= render 'users/index' , user: post.user %>
                <%= render 'posts/index' , post: post %>
                <i class="fas fa-tag"></i>
                <% post.tags.each do |tag| %>
                    <%= render 'posts/tag_lists' , tag: tag %>
                    <%= render 'posts/tag_counts' , tag: tag %>
                <% end %>
            <% end %>
        </div>
    </div>
</div>
