<div class="container p-5">
  <%= render 'devise/shared/error_messages' , resource: @post %>
  <div class="row h1 justify-content-center">
    新規投稿を作成
  </div>
  <%= render 'posts/form' , post: @post %>
</div>

